.header {
  @apply h-[48px] w-[inherit] sticky bg-inherit top-0 z-50 flex items-center justify-between mb-[48px];
  font-family: Poppins;
  font-weight: 700;
  color: var(--text-color);
}

.theme {
  background-color: var(--text-color);
  @apply cursor-pointer w-[60px] h-[28.4px] rounded-full flex px-1 items-center transition-all relative;
}
