@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 10px;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (min-width: 700px) {
  html,
  body {
    font-size: 14px;
  }
}

html {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --body-bg: #212121;
  --span-bg: #fafafa;
  --text-color: #fafafa;
  --text-color-inverse: #fafafa;
}

.layout[data-theme="dark"] {
  --body-bg: #212121;
  --span-bg: #fafafa;
  --text-color: #fafafa;
  --text-color-inverse: #212121;
}

.layout[data-theme="light"] {
  --body-bg: #fafafa;
  --span-bg: #212121;
  --text-color: #212121;
  --text-color-inverse: #fafafa;
}
