.page {
  @apply w-full mt-10 pt-10 relative z-20;

  /* NESTED STYLES */
  img {
    @apply w-full rounded-sm my-10;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-8;
    color: var(--text-color);
  }

  h1 {
    @apply text-3xl font-maven;
  }
  h2 {
    @apply text-2xl font-maven;
  }
  h3 {
    @apply text-xl font-maven;
  }
  h4 {
    @apply text-lg font-maven;
  }
  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  p {
    color: var(--text-color);
  }

  strong {
    @apply font-bold bg-[#486AF2] px-1 rounded-lg text-[#fafafa];
  }

  .hr {
    @apply w-full h-2 bg-transparent relative my-20;
    div {
      @apply flex justify-between w-max space-x-8 items-center mx-auto;
    }

    span {
      @apply w-1 h-1 rounded-full border-2;
      border-color: var(--span-bg);
    }
  }

  .title {
    @apply bg-[#486AF2] text-white w-max px-5 py-2  rounded-md sticky mb-10 top-20 md:top-14 z-20;
  }
}
